.checked-out-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px 0;
}

.checked-out-list-item {
  margin-bottom: 16px;
}

.checked-out-empty {
  font-size: 12px;
}
